<mat-list-item *ngFor="let item of movies" class="item">
  <img matListAvatar src="http://image.tmdb.org/t/p/w185{{ item.poster_path }}" alt="" />
  <h3 matLine>{{ item.title }}</h3>
  <p matLine>Release in {{ item.release_date }}</p>
  <p matLine>Vote average {{ item.vote_average }}</p>
  <div matLine>
    <mat-chip-list>
      <mat-chip *ngIf="optionAddMovie" (click)="addMovie.emit(item)">Add</mat-chip>
      <mat-chip *ngIf="optionFind" (click)="showFindMovie(item.id)">Find</mat-chip>
      <mat-chip *ngIf="optionDetail" (click)="showDetail(item.id)">Detail</mat-chip>
      <mat-chip *ngIf="optionDelete" (click)="removeItem(item.id)">Supprimer</mat-chip>
    </mat-chip-list>
  </div>
</mat-list-item>
